<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Express</title>
</head>
<body>
    <h1>This is Our web Page (Client)</h1>
    <form method="POST">
       <label>User Name: <input type="text" name="name" id="name"> </label>
       <label>User class: <input type="text" name="class" id="class"> </label>
       <label>User age: <input type="text" name="age" id="age"> </label>
       <input type="submit" value="Add Student">
    </form>

    <script src="./js/index.js">
   

    </script>
</body>
</html>